
img {
    width: 9.3750rem;
    height: 9.3750rem;
    border-radius: 50%;
    overflow: hidden;
    border-color: #317873;
    border-style: solid;
    border-width: 0.3125rem;
}

h1 {
    color: #317873;
    -webkit-text-stroke: 0.0625rem white;
}

p {
    color: #317873;
    -webkit-text-stroke: 0.0625rem white;
}

.button-container,
.button-container2,
.button-container3,
.button-container4,
.button-container5{
    display: inline-flex;
    text-decoration: none;
    width: 11.5625rem;
    height: 11.5625rem;
    border-radius: 50%;
    background: linear-gradient(to right, #084461, #FFA500 980%);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 0 0.1250rem;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1.1875rem 2.3750rem, rgba(0, 0, 0, 0.22) 0 0.9375rem 0.7500rem;
    margin: 2.5000rem 0.3125rem;

}

.button-container:hover,
.button-container2:hover,
.button-container3:hover,
.button-container4:hover,
.button-container5:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 1.1875rem 2.3750rem, rgba(0, 0, 0, 0.22) 0 0.9375rem 0.7500rem;
}

.button-container:active,
.button-container2:active,
.button-container3:active,
.button-container4:active,
.button-container5:active {
    box-shadow: none;
}

.fix {
    margin-bottom: 0.5000rem;
}
.button-container6 {
    display: inline-flex;
    text-decoration: none;
    width: 11.5625rem;
    height: 11.5625rem;
    border-radius: 50%;
    background: linear-gradient(to right, #084461, #FFA500 980%);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 0 0.1250rem;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1.1875rem 2.3750rem, rgba(0, 0, 0, 0.22) 0 0.9375rem 0.7500rem;
    margin: 2.5000rem 0.3125rem;
}

