.footer {
    padding: 2vh;
    background: linear-gradient(to right, #084461, #FFA500 980%);
    color: white;
    text-align: center;
    position: absolute;
    bottom: -106vh;
    width: 97.7%;
    z-index: 1000;
}

.footer p {
    margin: 1vh 0;
}

@media (max-width: 600px) {
    .footer {
        bottom: -433.5vh;
        width: 92.3%;
    }
}

