
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border-color: #317873;
    border-style: solid;
    border-width: 5px;
}

h1 {
    color: #317873;
    -webkit-text-stroke: 1px white;
}

p {
    color: #317873;
    -webkit-text-stroke: 1px white;
}

.button-container,
.button-container2,
.button-container3,
.button-container4,
.button-container5 {
    display: inline-block;
    text-decoration: none;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    background: linear-gradient(to right, #084461, #FFA500 980%);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
    font-weight: 600;
    font-size: 6px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
    margin: 40px 5px;
}

.button-container:hover,
.button-container2:hover,
.button-container3:hover,
.button-container4:hover,
.button-container5:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.button-container:active,
.button-container2:active,
.button-container3:active,
.button-container4:active,
.button-container5:active {
    box-shadow: none;
}

.fix {
    margin-bottom: 8px;
}
.button-container5 {
    margin-top: 20px;
}
