.App {
    text-align: center;
    background-color: #001f3f;
    color: #FFA500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    z-index: 1;
    position: relative;
}

.App-link {
    color: #61dafb;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

h1 {
    color: #FFA500;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-fill-color: transparent;
}

p {
    color: #FFA500;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-fill-color: transparent;
}

.button-container,
.button-container2,
.button-container3 {
    display: inline-block;
    text-decoration: none;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    background: linear-gradient(to right, #084461, #FFA500 980%);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
    font-weight: 600;
    font-size: 6px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 40px 50px;
}

.button-container:hover,
.button-container2:hover,
.button-container3:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.button-container:active,
.button-container2:active,
.button-container3:active {
    box-shadow: none;
}

.btn-linkedin {
    border-radius: 0;
    color: #fff;
}

.btn-linkedin:link,
.btn-linkedin:visited {
    color: #fff;
}

.btn-linkedin:active,
.btn-linkedin:hover {
    background: #084461;
    color: #fff;
}

.fix {
    margin-bottom: 8px;
}

.linkedin-button {
    display: inline-block;
    position: relative;
    top: -19vh;
    right: -80vh;
    background-color: #2563eb;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.linkedin-button:hover {
    background-color: #1d4ed8;
    transform: translateY(-2px);
}

.linkedin-button:focus {
    outline: none;
    border: 2px solid #2563eb;
    box-shadow: 0 0 0 4px #084461;
}
