.App {
    text-align: center;
    background-color: #001f3f;
    color: #FFA500;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    z-index: 1;
    position: relative;
}

.App-link {
    color: #61dafb;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

h1 {
    color: #FFA500;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-fill-color: transparent;
}

p {
    color: #FFA500;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-fill-color: transparent;
}

.button-container,
.button-container2,
.button-container3 {
    display: inline-block;
    text-decoration: none;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    padding: 0 2px;
    font-weight: 600;
    font-size: 6px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 40px 0;
}

.button-container .backdrop,
.button-container2 .backdrop2,
.button-container3 .backdrop3 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #FFA500;
    z-index: -1;
    top: 50%;
    left: 50%;
    font-weight: 60;
    font-size: 6px;
    border-radius: 125px;
    transform: translateX(-50%) translateY(-50%);
    transition: all ease-in-out 0.5s;
}

.button-container:hover .backdrop,
.button-container2:hover .backdrop2,
.button-container3:hover .backdrop3 {
    top: 48%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: rotate(15deg) translateX(-50%) translateY(-50%);
}

.button-container:active .backdrop,
.button-container2:active .backdrop2,
.button-container3:active .backdrop3 {
    box-shadow: none;
}

.btn-linkedin {
    border-radius: 0;
    color: #fff;
}

.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
}

.btn-linkedin:active, .btn-linkedin:hover {
    background: #084461;
    color: #fff;
}

.fix {
    margin-top: 20px;
}